ul {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	list-style: none outside none;
}

li {
	padding: 0.5rem 0.325rem;
}

li a,
li svg {
	color: inherit;
	display: block;
}

img {
	vertical-align: middle;
}

li svg {
	fill: currentColor;
}

.svg-npm,
.svg-email,
.svg-github,
.svg-gitlab,
.svg-twitter,
.svg-codepen,
.svg-linkedin,
.svg-google-plus,
.svg-stackoverflow {
	width: 1.5rem;
}

.svg-npm,
.svg-codepen,
.svg-youtube,
.svg-codersrank,
.svg-google-plus,
.svg-stackoverflow {
	height: 1.5rem;
}

.svg-npm {
	border-radius: 0.25rem;
}

.svg-email {
	height: 1.69rem;
}

.svg-github,
.svg-gitlab,
.svg-linkedin {
	height: 1.63rem;
}

.svg-twitter {
	height: 1.38rem;
}

.svg-youtube {
	width: 2rem;
}

.svg-logo {
	width: 1.75rem;
	height: 1.75rem;
	stroke: currentColor;
	stroke-width: 0.325rem;
}

.svg-codersrank {
	width: 2.5rem;
}
